@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Global Styles */
:root {
  --nav-color: white;
  --aboutme-color: rgb(24, 24, 24);
  --experience-color: #ddd;
  --projects-color: rgb(194, 104, 104);
  --project-card-color: rgb(145, 78, 78);
  --contactme-color: rgb(24, 24, 24);
}

/* GENERAL */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.body {
  height: 100%;
  width: 100%;
  color: var(--projects-color);
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.font {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.container-fluid h1 {
  font-size: 300%;
}

.container-fluid {
  padding: 7% 15%;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
  width: 100%;
  margin-left: auto;
}

.padding-top {
  padding-top: 5%;
}
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.helper-div {
  display: inline-block;
  vertical-align: middle;
  height: 50%;
}

/* TOP PAGE */

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #161415 url(./img/Me/HandsUp.jpeg) no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
  align-items: center;
  color: white;
}

.middle-text {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.middle-paragraph {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
  width: 90%;
}

.display {
  color: white;
  transition: 0.5s;
}

.display-none {
  color: transparent;
  transition: 0.5s;
}

.icon {
  bottom: 20px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.icon:hover {
  color: #cccccc;
}

#intro-name {
  font-size: 175%;
}

#intro-description {
  font-size: 85%;
}

/* NAVBAR */

nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
}

.spacer {
  flex: 1;
}

.no-bottom-padding {
  padding: 20px 50px 0 50px;
  transition: 0.5s;
  color: white;
}

.toggle-button {
  height: 24px;
  width: 30px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  left: 0;
  top: 0;
}

.nav-link-outer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  transition: 0.5s;
  align-items: center;
  margin: 0;
}

.nav-item {
  margin: 1%;
  display: inline-block;
  cursor: pointer;
}

.nav-link {
  border: none;
  background: transparent;
  display: inline-block;
  white-space: nowrap;
  margin: 0 10px;
}

.nav-logo {
  font-size: 1em;
  background-color: transparent;
  border: none;
}

.nav-white {
  background-color: var(--nav-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  padding: 20px 50px 20px 50px;
  color: var(--projects-color);
}

.nav-item {
  font-weight: 300;
}

@media (max-width: 1028px) {
  .disappear-small {
    display: none;
  }
}

@media (min-width: 1028px) {
  .small-dropdown {
    display: none;
  }
}

.a-icon svg {
  color: white;
  vertical-align: middle;
  margin: 5%;
  transform: translateY(0);
  transition: 0.25;
}

.a-icon svg:hover {
  transform: translateY(-3px);
  transition: 0.25;
  color: rgb(51, 51, 51);
}

.navbar a:hover {
  text-decoration: none;
}

.nav-button:focus {
  outline: none;
}

.side-drawer {
  height: 100%;
  background-color: var(--nav-color);
  box-shadow: 1px 0px 7px rgba(0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 65%;
  width: 35%;
  text-align: center;
  z-index: 2;
  float: right;
  transition: transform 0.3s ease-out;
  transform: translateX(100%);
  box-sizing: border-box;
}

button {
  outline: none !important;
  box-shadow: none;
}

.side-drawer.open {
  transform: translateX(0);
}

.toggler {
  display: none;
}

.bars {
  background: transparent;
  color: var(--projects-color);
}
.bars-white {
  background: transparent;
  color: white;
}

.x-button {
  position: absolute;
  top: 0;
  margin-top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  border: none;
  color: var(--projects-color);
}

.side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  text-decoration: none;
  color: var(--projects-color);
}

.side-drawer a:hover {
  cursor: pointer;
}

@media (max-width: 640px) {
  .toggler {
    display: flex;
    background: transparent;
    border: none;
  }
  .nav-link-outer {
    display: none;
  }
}

/* ABOUT ME PAGE */

#aboutme {
  padding: 12% 10%;
  color: white;
  background-color: var(--aboutme-color);
  text-align: center;
}

.aboutme-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inner-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#aboutme img {
  height: 14em;
  border-radius: 50%;
  vertical-align: middle;
  margin: 20px auto;
}

.img-col {
  text-align: center;
  vertical-align: middle;
}

.aboutme-description {
  margin: 40px auto;
}

.aboutme-list {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .aboutme-grid {
    grid-template-columns: 1fr;
  }
}

/* EXPERIENCE */

#experience {
  text-align: center;
  color: black;
  padding: 10%;
  background-color: var(--experience-color);
}

#experience h1 {
  padding-bottom: 30px;
}

.experience-container {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 6rem;
  width: 100%;
}

.experience-container::before {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 35%;
  top: 0;
}

.experience-name {
  float: left;
  width: 35%;
  padding-right: 50px;
  text-align: right;
  box-sizing: border-box;
}

.experience-name h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.experience-name p {
  margin-top: 0;
  font-size: 0.75rem;
  color: rgb(51, 51, 51);
}

.experience-description {
  margin-left: 35%;
  padding-left: 50px;
  text-align: left;
}

.experience-item {
  position: relative;
  padding-top: 1.5rem;
}
.experience-description h3 {
  margin-top: 0;
  padding-top: 0;
  position: relative;
  padding-bottom: 1.5rem;
}

.experience-description h3::after {
  content: '';
  display: block;
  height: 3px;
  width: 50px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  bottom: 0;
}

.experience-description p {
  margin-top: 30px;
}

.experience-icon-outer {
  height: 48px;
  width: 48px;
  line-height: 40px;
  background: #313131;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: 35%;
  top: 0.9rem;
  margin-left: -24px;
  align-items: center;
  display: inline-block;
  vertical-align: middle;
}

.experience-icon-outer::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.experience-icon {
  margin: auto;
}

@media (max-width: 768px) {
  .experience-container::before {
    left: 2.4rem;
  }

  .experience-icon-outer {
    left: 2.4rem;
  }

  .experience-item {
    padding-top: 0;
  }

  .experience-name,
  .experience-description {
    margin-left: 0;
    float: none;
    width: auto;
    padding-right: 15px;
    text-align: left;
    padding-left: 7rem;
  }

  .experience-description {
    margin-top: 1.5rem;
  }

  .experience-description h3::after {
    content: '';
    display: block;
    height: 3px;
    width: 50px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    bottom: auto;
    top: 0;
  }
  .experience-description h3 {
    padding-top: 1.5rem;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 480px) {
  .experience-item {
    font-size: 1rem;
  }

  .experience-container::before {
    left: 1.8rem;
  }
  .experience-icon-outer {
    height: 3.6rem;
    width: 3.6rem;
    line-height: 3.6rem;
    left: 1.8rem;
    margin-left: -1.8rem;
    font-size: 1.5rem;
  }
  .experience-name,
  .experience-description {
    padding-left: 5.5rem;
  }
}

/* PROJECTS */

#projects {
  text-align: center;
  background-color: var(--projects-color);
  color: white;
  padding: 10% 10%;
}

.project-item {
  margin: 15% 0;
  color: white;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

.project-link {
  height: 100%;
  width: 100%;
  display: inline-block;
  align-items: center;
  line-height: 1rem;
  vertical-align: middle;
  white-space: nowrap;
}

.project-pic-container {
  white-space: nowrap;
  height: 100%;
}

.project-pic {
  max-height: 100%;
  max-width: 100%;
  transition: 0.2s;
  border-radius: 5px;
  transform: translateY(0);
  vertical-align: middle;
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.project-pic:hover {
  transition: 0.2;
  transform: translateY(-10px);
  box-shadow: 10px rgb(51, 51, 51);
}

.project-description {
  padding-left: 30px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-description-right {
  padding-right: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-icons {
  text-align: right;
}

.project-icons-right {
  text-align: left;
}

.project-technologies {
  display: flex;
  justify-content: flex-end;
}

.project-technologies p {
  padding-left: 20px;
}

.project-technologies-right {
  display: flex;
}

.project-technologies-right p {
  padding-right: 20px;
}

.github-link {
  color: white;
}

.github-link:hover {
  color: #ddd;
  cursor: pointer;
}

.other-projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  /* 
  SAVE FOR WHEN I ADD ANOTHER PROJECT
  grid-template-columns: repeat(3, 1fr); 
  */
}

.other-projects-item {
  box-sizing: border-box;
  margin: 20px;
  background-color: var(--project-card-color);
  border-radius: 3px;
  display: flex;
  padding: 5%;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.other-name {
  text-align: left;
}

.other-description {
  text-align: left;
}

.other-github {
  text-align: right;
}

.other-tech {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.other-tech p {
  margin-left: 3%;
  margin-right: 3%;
}

@media (max-width: 768px) {
  .project-container {
    grid-template-columns: 1fr;
  }

  .project-pic-container {
    height: auto;
  }

  .project-technologies,
  .project-technologies-right {
    justify-content: center;
  }

  .project-technologies p,
  .project-technologies-right p {
    padding: 0 10px;
  }

  .project-description,
  .project-icons,
  .project-icons-right {
    text-align: center;
    padding-left: 0;
  }
}

@media (max-width: 650px) {
  .other-projects {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* CONTACT ME */

#contactme {
  text-align: center;
  color: white;
  background-color: var(--contactme-color);
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

#contactme h1,
#contactme h3,
#contactme p,
#contactme h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.link-div {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-btn {
  margin-top: 5%;
  height: 4em;
  width: 10em;
  border: white solid 1px;
  color: white;
  background-color: transparent;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px 10px;
  margin-top: 10px;
  transition: 0.4s;
}

.contact-btn:hover {
  background-color: white;
  color: black;
  transition: 0.4s;
}

.vertical-middle {
  vertical-align: middle;
}
.contact-list {
  list-style-type: none;
}

.resume-link {
  color: white;
  text-decoration: none;
}

.resume-link:hover {
  color: var(--projects-color);
  text-decoration: none;
}

.footer {
  height: 100px;
}
